# Spotify API credentials
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=

# Security
SESSION_SECRET=
ENCRYPTION_KEY=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Redis
REDIS_PORT=

# Database URLs
DATABASE_URL=
REDIS_URL=

PORT=
FRONTEND_URL=
NODE_ENV=
# JWT
JWT_SECRET=
JWT_EXPIRES_IN=